body {
  background-color: #524C49;
  color: #fff;
}
.button {
  border: 0;
  box-shadow: none;
}
.hidden {
  height: 0;
  opacity: 0;
  overflow: hidden;
}
.margin {
  padding: 10px;
}
.none {
  display: none;
}
.mobile-only {
  display: none;
}
@font-face {
  font-family: "Ubuntu Light";
  src: url('../webfonts/Ubuntu-L.woff');
}
@font-face {
  font-family: "Ubuntu Light Italic";
  src: url('../webfonts/Ubuntu-LI.woff');
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
label,
.button {
  font-family: "Ubuntu Light";
  font-weight: normal;
}
em {
  font-family: "Ubuntu Light Italic";
  padding: 0 5px 0 0;
}
h1 {
  font-size: 36px;
  font-weight: normal;
}
h1 a {
  font-size: 36px;
}
h2 {
  font-size: 24px;
  margin: 0 0 20px;
}
h6 {
  margin: 0 0 5px;
}
h6,
p,
a,
li {
  font-size: 17px;
}
ul {
  margin-left: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6,
header *,
article *,
p,
a:active,
a:focus,
.alert-box a,
li {
  color: #fff;
}
.alert-box p {
  margin: 0;
}
.callout span.toggle-filters {
  color: #333;
  cursor: pointer;
  display: block;
  font-weight: bold;
  padding: 0 0 0 1.2rem;
  position: relative;
}
.callout span.toggle-filters.open {
  margin-bottom: 10px;
}
.callout span.toggle-filters:before {
  border-color: transparent transparent transparent #666;
  border-style: solid;
  border-width: 0.5rem 0 0.5rem 0.5rem;
  content: '';
  display: block;
  left: 0;
  margin-top: -0.5rem;
  position: absolute;
  top: 50%;
  width: 0;
}
.callout span.toggle-filters.open:before {
  border-color: #666 transparent;
  border-width: 0.5rem 0.5rem 0;
  margin-top: -0.25rem;
}
header form {
  margin: 4px 0 0;
}
input[type=search],
input.autocomplete-input {
  border-radius: 4px;
  height: 1.97rem;
  margin: 0;
}
::-webkit-input-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}
input:-moz-placeholder {
  color: #888;
}
::-webkit-textarea-placeholder {
  color: #888;
}
:-ms-textarea-placeholder {
  color: #888;
}
textarea:-moz-placeholder {
  color: #888;
}
form label {
  color: #fff;
  cursor: default;
}
form label.left {
  float: none;
}
form.custom a,
form.custom li {
  font-size: 1em;
}
textarea {
  height: 200px;
}
input[type=submit] {
  margin-bottom: 10px;
}
#Remember input {
  float: left;
  margin: 0 10px 0 0;
}
#Remember label.right {
  float: none !important;
  text-align: left;
}
header {
  background-color: #56bbd2;
  height: 40px;
  margin: 0 0 20px;
}
header .row {
  height: 40px;
}
header h1 {
  height: 40px;
  line-height: 35px;
  margin: 0;
}
.menue {
  float: right;
  height: 24px;
  line-height: 24px;
  margin: 8px 0 0;
}
.menue a {
  text-align: right;
}
a.notifications {
  background: url(../images/icons/notifications-white.png) 50% 50% no-repeat;
  color: #fff;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: bold;
  height: 24px;
  line-height: 20px;
  margin: 8px 10px 0 0;
  text-align: center;
  width: 24px;
}
.notifications.unread {
  background-image: url(../images/icons/notifications-orange.png);
}
.dropdown-holder {
  height: 0;
}
.dropdown-holder .dropdown {
  background-color: #56bbd2;
  left: 0;
  list-style: none;
  margin-left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}
.dropdown-holder .dropdown li {
  border-bottom: 1px solid #7ecbdd;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.dropdown-holder .dropdown li:hover {
  background: #7ecbdd;
}
.dropdown-holder .dropdown li:last-of-type {
  border: 0;
}
.dropdown-holder .dropdown li a {
  display: block;
  padding: 2px 10px;
  text-transform: lowercase;
}
.sign-in-mobile {
  margin-bottom: 10px;
}
.sign-in-mobile a {
  color: #fff;
  display: block;
  font-size: 24px;
  text-align: center;
}
.page-title {
  margin: 1rem 0 2rem -10px;
}
.page-title h3 {
  background: #56bbd2;
  display: inline;
  margin-bottom: 0.5rem;
  padding: 0.25rem 1rem;
  position: relative;
}
.page-title h3:after {
  border-color: #56bbd2 transparent;
  border-style: solid;
  border-width: 0.5rem 0.5rem 0;
  bottom: -0.5rem;
  content: '';
  display: block;
  left: 50%;
  margin-left: -0.25rem;
  position: absolute;
  width: 0;
}
.loading {
  background: #7ecbdd;
  clear: both;
  font-size: 1em;
  float: none;
  height: 2em;
  line-height: 2em;
  margin-bottom: 1em;
  opacity: 1;
  overflow: hidden;
}
.playlist-link {
  background: #7ecbdd;
  font-size: 1em;
  height: 2em;
  line-height: 2em;
  margin-bottom: 1em;
  overflow: hidden;
}
.playlist-link a {
  color: #fff;
}
#Posts:hover div.content:not(:hover) {
  opacity: 0.6;
}
section h1 {
  margin: 0 0 10px;
}
.post-list {
  overflow: hidden;
}
.post-list article {
  margin: 0 0 20px;
  opacity: 1;
}
.post-list article div.content {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  height: 120px;
  overflow: hidden;
}
.post-list article h2 {
  margin: 0;
}
.post-list article h2 a {
  display: block;
  font-size: 24px;
  height: 75px;
  overflow: hidden;
}
.post-list article h2 a:hover {
  color: #fff;
  text-decoration: underline;
}
.post-list article p {
  float: left;
  width: 50%;
}
.post-list article p.genre {
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.post-list article p.author {
  text-align: right;
}
.post-list article p a:hover {
  color: #fff;
  text-decoration: underline;
}
.post-list article:hover p.date.toggle {
  display: none;
}
.post-list article:hover p.genre {
  display: block;
}
.reveal-animation.ng-hide {
  -webkit-transition: 'opacity' 1s ease;
  -moz-transition: 'opacity' 1s ease;
  -o-transition: 'opacity' 1s ease;
  transition: 'opacity' 1s ease;
  opacity: 0;
}
.reveal-animation.ng-show {
  opacity: 1;
}
.pagination-buttons .large-6 {
  margin-bottom: 10px;
}
.pagination-buttons a {
  margin: 0;
}
.post {
  margin-bottom: 10px;
}
.post h1,
.post p,
.post em {
  color: #fff;
}
.post .post-content {
  margin-bottom: 20px;
}
.post .post-content p:last-of-type {
  margin-bottom: 0;
}
.post .hash-tags {
  margin-bottom: 20px;
  overflow: hidden;
}
.post .hash-tags ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.post .hash-tags ul li {
  float: left;
  height: 24px;
  line-height: 24px;
  margin-bottom: 0.4rem;
  position: relative;
}
.post .hash-tags ul li a {
  background: #008CBA;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: #fff;
  display: block;
  margin-right: 0.7rem;
  padding: 0px 10px 0px 12px;
  position: relative;
}
.post .hash-tags ul li a:first-of-type {
  margin-left: 12px;
}
.post .hash-tags ul li a:hover {
  background: #0078A0;
}
.post .hash-tags ul li a:hover:before {
  border-color: transparent #0078A0 transparent transparent;
}
.post .hash-tags ul li a:before {
  border-color: transparent #008CBA transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
  content: "";
  float: left;
  height: 0;
  left: -12px;
  position: absolute;
  top: 0px;
  width: 0;
}
.post .hash-tags ul li a:after {
  background: #fff;
  border-radius: 50%;
  content: "";
  float: left;
  height: 4px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 4px;
}
.post .player {
  background: #7ecbdd url(../images/loader.gif) no-repeat 50% 50%;
}
.post .bandcamp {
  background: transparent;
}
.post iframe {
  display: block;
  margin: 0 0 10px;
  max-width: 100%;
  min-height: 166px;
}
.post .button {
  margin-bottom: 10px;
}
#Comments img {
  float: left;
  padding: 0 2% 2% 0;
}
#Comments p {
  margin-bottom: 5px;
}
#Comments .gravatar {
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 2.3125rem;
}
.chart .chart-holder .slice {
  border-radius: 50%;
  clip: rect(0px,300px,300px,150px);
  height: 50px;
  width: 50px;
}
.chart li {
  list-style: none;
}
.chart li .legend {
  display: block;
  float: left;
  height: 20px;
  margin: 0 5px 0 0;
  width: 20px;
}
.chart .color1 {
  background-color: #183869;
}
.chart .color2 {
  background-color: #1c437e;
}
.chart .color3 {
  background-color: #214e92;
}
.chart .color4 {
  background-color: #265aa7;
}
.chart .color5 {
  background-color: #2b65bc;
}
.chart .color6 {
  background-color: #3070d0;
}
.chart .color7 {
  background-color: #457ed5;
}
.chart .color8 {
  background-color: #598dda;
}
.chart .color9 {
  background-color: #83a9e3;
}
.chart .color10 {
  background-color: #98b8e8;
}
.chart .color11 {
  background-color: #adc6ec;
}
.member-list .row {
  margin: 0 0 10px;
}
.member-list h4 {
  margin: 0 0 5px;
}
.member-list p {
  margin: 0;
}
.member-list .user-color {
  height: 70px;
  width: 100%;
}
.Playlist {
  margin-bottom: 1em;
}
.Playlist .video-list li {
  cursor: pointer;
  display: block;
  padding: 4px 4px 4px 8px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.Playlist .video-list li.current {
  background: #56bbd2;
  color: #fff;
}
.Playlist .video-list li:hover {
  background-color: #7ecbdd;
  color: #fff;
}
aside ul {
  margin: 0;
}
aside ul li {
  list-style: none;
}
aside ul a {
  display: block;
  padding: 4px 2px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
aside ul a:hover {
  background-color: #7ecbdd;
  color: #fff;
}
@media only screen and (max-width: 48em) {
  .hide-on-mobile {
    display: none;
  }
  .mobile-only {
    display: block;
  }
  p,
  a {
    font-size: 14px;
  }
  header {
    height: 50px;
    margin: 0 0 10px;
  }
  header .row:first-of-type {
    height: 50px;
  }
  header .row .large-3 {
    padding: 0;
  }
  header h1 {
    background: none;
    height: 45px;
    line-height: 45px;
    padding: 2px 0 0;
  }
  header h1,
  header h1 a {
    display: block;
    font-size: 44px;
    text-align: center;
  }
  header.header-open-mobile {
    height: auto;
  }
  section h1 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .post-list article {
    height: 120px;
    margin-bottom: 10px;
  }
  .post-list article div.content h2 {
    margin: 0 0 10px;
  }
  .post-list article div.content h2 a {
    font-size: 22px;
    height: auto;
  }
  .post-list article div.content p {
    margin: 0 0 5px;
  }
  .button {
    width: 100%;
  }
  .button.right {
    float: none;
  }
  .mobile-menue,
  .sign-in {
    background: #34a7c1;
    font-size: 1.15em;
    height: 50px;
    line-height: 50px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 65px;
    z-index: 1;
  }
  .mobile-menue a:hover,
  .sign-in a:hover {
    color: #7ecbdd;
  }
  .dropdown-holder .dropdown {
    background: #34a7c1;
    position: static;
    margin: 0;
  }
  .dropdown-holder .dropdown a {
    font-size: 1em;
    text-align: center;
  }
}
@media only screen and (max-width: 40em) {
  .post-list article {
    margin-bottom: 5px;
  }
  .post-list article,
  .post-list article div.content {
    height: auto;
  }
}
